@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-styles {
        @apply text-[#333333] font-poppins font-medium;
    }

    .header {
        @apply text-[1.25rem] lg:text-[1.5rem] xl:text-[2rem] header-styles;
    }

    .subheader {
        @apply text-[1.15rem] lg:text-[1.3rem] xl:text-[1.5rem] header-styles;
    }

    .section-label {
        @apply text-[#666666] mb-[14px] md:mb-[16px] lg:mb-[18px] xl:mb-[20px] font-poppins font-normal;
    }

    .section-bottom-margin {
        @apply mb-[2.5rem] sm:mb-[3.4rem] md:mb-[5rem] lg:mb-[6.5rem] xl:mb-[8.5rem];
    }

    .section-bottom-margin-xs {
        @apply mb-[2rem] sm:mb-[3rem] md:mb-[4rem] lg:mb-[5.5rem] xl:mb-[7rem];
    }

    .section-bottom-margin-sm {
        @apply mb-[0.5rem] sm:mb-[1.4rem] md:mb-[3rem] lg:mb-[4.5rem] xl:mb-[6.5rem];
    }
    .section-bottom-margin-md {
        @apply mb-[3.5rem] sm:mb-[4.5rem] md:mb-[6rem] lg:mb-[7.5rem] xl:mb-[9.5rem];
    }

    .section-label-bottom-margin {
        @apply mb-[32px] md:mb-[40px] lg:mb-[48px] xl:mb-[56px];
    }

    .track {
        @apply border border-red-500;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }
}

* {
    /* background-color: rgba(255,0,0,0.05); */
    /* Modern Dark Scrollbar with Gradient Accents for entire page */
    html {
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: #7c3aed #1f2937;
    }

    body::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    body::-webkit-scrollbar-track {
        background: #1f2937;
        border-radius: 0px;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    }

    body::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #8b5cf6, #7c3aed 60%);
        border-radius: 12px;
        border: 2px solid transparent;
        background-clip: content-box;
        transition: background 0.3s ease, border-color 0.3s ease;
    }

    body::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #7c3aed, #6d28d9 60%);
        border-color: rgba(255, 255, 255, 0.1);
    }

    body::-webkit-scrollbar-corner {
        background: #1f2937;
    }
}
